.AppBar {
  margin-bottom: 20px;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
}

.section-title {
  margin: 20px 0;
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
}

.book-list {
  padding: 20px;
}

.book-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.book-card .MuiCardContent-root {
  flex-grow: 1;
}

.book-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.book-author {
  color: #757575;
}
.Accordion {
  width: 100%;
  margin-top: auto;
}

.AccordionDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-cover {
  max-width: 100%;
  height: auto;
}
