.AppBar {
  margin-bottom: 20px;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
}

.section-title {
  margin: 20px 0;
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
}

.book-list {
  padding: 20px;
}

.book-card {
  flex-direction: column;
  max-width: 240px;
  margin: auto;
}

.book-card .MuiCardContent-root {
  flex-grow: 1;
}

.book-title {
  font-weight: bold;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author {
  color: #757575;
}
.Accordion {
  width: 100%;
  margin-top: auto;
}

.AccordionDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-cover {
  max-width: 100%;
  max-height: 300px;
}
