
.AppBar {
  margin-bottom: 20px;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
}

.loans-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loan-card {
  align-items: center;
  width: 70%;
  margin: 10px 0;
  padding: 20px;
  margin: 0 auto;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-cover {
  margin-right: 20px;
  object-fit: cover;
}

.loan-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.book-title-loan {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-accordion {
  width: 100%;
}
.no-loans-message {
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  color: #2f3e46;
}
